.body
.container
  .sun
  .mercuryOrbit
    .mercury
  .venusOrbit
    .venus
  .earthOrbit
    .earth
  .marsOrbit
    .mars
  .jupiterOrbit
    .jupiter
  .saturnOrbit
    .saturn
      .saternRing
  .uranusOrbit
    .uranus
  .neptuneOrbit
    .neptune
  .plutoOrbit
    .pluto